/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  position: relative;
  display: block;
  background-color: #eee;
  color: #000000;
  cursor: pointer;
  width: 100%;
  text-align: left;
  /* border: none;
  outline: none; */
  background-color: var(--main-bg-color);
  color: #000000;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem;
  margin: auto;
  border-bottom: 1px solid #ccc;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.fa{
  float: right;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  /* color: #777; */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* <i className={"fas fa-chevron-up " + classes.fa}></i> */