/* :root {
  --main-bg-color: #ffffff;
  --main-color: #000000;
  --active-bg-color: #cccccc;
  --active-color: #000000;
} */

.list {
	border: 1px solid #ccc;
	/* border-radius: 8px; */
	/* padding: 1rem; */
	cursor: pointer;
	/* margin: auto; */
	/* padding-left: 1.5rem; */
	/* margin: 2%; */
	/* overflow-y: hidden; */
}
.heading{
	display: flex;
	align-items: center;
	/* padding-left: 1rem; */
	padding: 1rem;
	justify-content: space-between;
	background-color: var(--main-bg-color);
	color: var(--main-color);
}
.heading:hover,
.heading:active{
	background-color: var(--active-bg-color);
	color: var(--active-color);
}
.left{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.panel {
	background-color: white;
	max-height: 0;
	/* padding-bottom: 1rem; */
	/* overflow-y: hidden; */
	/* overflow-x: visible; */
	transition: max-height 0.3s ease-out;
	/* background-color: var(--active-bg-color); */
}
.hide{
	display: none;
}
/* .active{
	background-color: var(--active-bg-color);
	color: var(--active-color);
} */
/* @media (min-width: 768px) {
	.list{
		border-radius: 8px;
	}
} */