.listitem {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid var(--border-bg-color);
  width: 100%;
}


.listitem:hover,
.listitem:active{
  border: 1px solid var(--contrast-bg-color);
}
.edit {
  border: 1px solid var(--contrast-bg-color);
}
.edit:hover,
.edit:active{
  border: 1px solid #ff0000;
  box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.89);
}