:root{
  --hover-bg-color: #000000;
}
.listitem {
  border-radius: 4px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  /* background: none !important; */
  text-decoration: none;
  transition: 0.3s;
  /* margin: 0 1%; */
  padding: 1rem;
  border: 1px solid #cccccc;
  /* width: 100%; */
}

/* On mouse-over, add a deeper shadow */
.listitem:hover {
  /* border: 1px solid var(--hover-bg-color); */
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
}