.details{
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg-color);
	color: var(--main-color);
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.3s;
	margin: 0.25rem;
	padding: 1rem;
	border: 1px solid var(--border-bg-color);;
	max-height: 100%;
}
.top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.left{
	display: flex;
	align-items: center;
}
.right{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.bottom{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
}
.changevalue{
	padding: 0.5rem;
}
.chart{
	height: 400px;
}
.news{
	display: flex;
	flex-direction: column;
}
.red{
	background-color: #ff2424;
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 3px;
}
.green{
	background-color: #13AA52;
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 3px;
}

@media (min-width: 1200px) {
	.details{
		width: 75vw;
	}
	.top{
		flex-direction: row;
	}
	.bottom{
		flex-direction: row;
	}
}