:root {
  --main-bg-color: #000000;
  --main-color: #ffffff;
  --contrast-bg-color: #ffffff;
  --contrast-color: #000000;
  --alt-bg-color: #232323;
  --alt-color: #ffffff;
  --active-bg-color: #333333;
  --active-color: #ffffff;
  --input-bg-color: #111111;
  --input-color: #ffffff;
  --border-bg-color: #444444;
  --disabled-bg-color: #666666;
  --disabled-color: #ffffff;
  --outline-color: #ffff00;
}
html{
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.navbar{
  position: sticky;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--alt-bg-color);
  height: fit-content;
  justify-content: space-between;
}
.navgroup{
  display: flex;
  justify-content: flex-end;
}
.navlink{
  padding: 1rem;
  background-color: var(--alt-bg-color);
  color: var(--alt-color);
  text-decoration: none;
}
.navlink:hover,
.navlink:active,
.navlink.active{
  background-color: #ffff00;
  color: #000000;
}
.link{
  text-decoration: none;
  color: #ffff00;
}
.link:hover, .link:active{
  color: #1647fb;
}
.hide{
	display: none!important;
}
.red{
  background-color: red;
  color: #ffffff;
}
button{
  cursor: pointer;
}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.paddingTop{
  padding-top: 1rem;
}
.paddingY{
  padding: 1rem 0;
}
.marginY{
  margin: 1rem auto;
}

@media (min-width: 1200px) {
	.main{
    display: flex;
    flex-direction: row;
    }
}