@font-face {
  font-family: 'Kollektif';
  font-weight: normal;
  src: local('Kollektif'), url(./kollektif/Kollektif.ttf) format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'Kollektif';
  font-weight: bold;
  src: local('Kollektif'), url(./kollektif/Kollektif-Bold.ttf) format('truetype');
  font-display: fallback;
}
*{
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Kollektif', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
